/**/

/*navigation*/

#fixedBar{
    background-color: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
}

.navLink{
    font-size: 40px;
}

/*General*/
*{
    border: 1px solid red;
}

body{
    background-color: #e7e6e9;
    color:rgb(0, 0, 0);
    margin:0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

img{
    max-width:100%;
    display:block;
}


h1{
    font-size:40px;
    margin:0px;
}

p{
    font-weight:200;
    margin-block:20px;
}

a{
    text-decoration:none;
    cursor: pointer;
}

.greenText{
    color:#7EA172;
}

.blueText{
    color: #4753DB;
}


.separator {
    border: none;
    border-top: 2px solid white;
    margin: 20px 0;
}

.section{
    display:flex;
    flex-direction: column;
    background-color:#4753DB;
    align-self:center;
    /*box-shadow: 12px 12px 10px rgb(0 0 0 / 25%),
                -5px -5px 5px rgba(255, 255, 255, 0.25);*/
    height:85vh;
    padding-top:15vh;
    margin-bottom:20vh;
}


.section > .content{
    display:flex;
    flex-direction: column;
}


.title{
    margin:0px;
    
}

/*Greeting*/

#splash{
    height:80vh;
    padding-top:20vh;
}

#welcome{
    
}

#jumpToBlog{
    text-decoration: underline;
}

#introPicContainer{
    align-self: center;
}

#introPic{
    max-width:321px;
    max-height:321px;
}

/*AboutMe*/

#aboutMe{
    display:flex;
    flex-direction: column;
    background-color: none;
}

/*Skills*/

#skills{
    display:flex;
    flex-direction: column;
    padding-top:0px;
}

/*  these should be in grid form  */
.techSkills{
    display:grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(2,auto);
    justify-items:center;
    align-content:space-evenly;
}
/*  these should flow vertically, could be grid  */
.techSkill{
    align-self:center;
}

.techName{
}

/*Projects*/

#projects{
    background-color: none;
}

.project{

}

.projectTitles{

}

.description{

}

/*Blog*/

#blogLatestPost{
    background-color: none;
}

#blogPosts{
    
}

.recentBlogPost{
    border-radius: 20px;
    border: 3px solid white;
    margin-block:2vh;
    padding-inline:1vh;
    color: #ffffff;
    text-decoration: none;

}

.blogTitles{
    margin:0;
    color: #000000;
}

.blogPostDate{
    font-size: .5em;
    margin-inline: 0px;
}

/*Content*/

#contact{
    background-color: none;
    margin-bottom:10vh;
}

#contactForm{
    display:flex;
    flex-direction: column;
    font-size:50px;
    padding:1vh;
    border: 1px solid white;
}

/* Style autofill appearance for inputs */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: aliceblue; /* Set text color to desired color */
  transition: background-color 5000s ease-in-out 0s; /* Prevent background color change */
}

#name, #email, #message{
    background-color: none;
    border:none;
    color:rgb(0, 0, 0);
    margin-block:2vh 3vh;
    min-width:100%;
    min-height:auto;
    font-size: 50px;
    font-family: 'Barlow', sans-serif;
}

#name:focus, #email:focus, #message:focus{
    border: none;
    outline:none;
}

#message{
    height:fit-content;
}

/* */
.formError{
    display: none;
    color: #503030;
}

.submit{
    font-size:50px;
    color: aliceblue;
    background:none;
    border: 1px solid aliceblue;
    font-family: 'Barlow', sans-serif;
    width:fit-content;
}

@media (max-width:360px){
    #introPicContainer{
        width:90vw;
    }
    #introPic{
        width:90vw;
    }
    .techSkills{
        grid-template-columns:repeat(1,auto);
    }
}

@media (min-width:701px){
    #splash{
        height:100vh;
        padding-top:0vh;
        justify-content: center;
    }
    
    .section{
        max-width:810px;
    }

    .section > .content{
        flex-direction: row;
        margin-inline:15px;
    }
    #welcome{
        margin-left:15px;
        max-width:435px;
    }
    .content:last-child{
        margin-left:15px;
    }
}